- btn_th = ['Button', 'Input', 'Link', 'class=""', 'Description']
- nav_items = ['Typography', 'Layouts', 'Buttons', 'Tables']
- nav_mitems = ['用户信息', '账户充值']

- btns = [{ text: '购买', sel: 'btn', desc: 'Standard button in Store' }]
- btns.push({ text: '试读', sel: 'btn btn-minor', desc: 'Usually appears together with standard buttons' })
- btns.push({ text: '分享', sel: 'btn btn-info', desc: 'Info button for the particular entry' })
- btns.push({ text: '阅读', sel: 'btn btn-read', desc: 'Douban Read exclusive button' })

- table_th = ['Name', 'Class', 'Description']
- table_td = [{ name: 'Default', sel: 'None', desc: 'No styles, just columns and rows' }]
- table_td.push({ name: 'Basic', sel: '.table', desc: 'Only horizontal lines between rows' })
- table_td.push({ name: 'Bordered', sel: '.table-bordered', desc: 'Rounds corners and adds outer border' })
- table_td.push({ name: 'Striped', sel: '.table-striped', desc: 'Adds background color to odd rows' })

- list_items = ['UNITAS', 'World Literature', 'Guokr Reading', 'Scientific American']

.mod#nav
  nav.nav-store
    .inner
      ul.items
        each item in nav_items
          li
            a(href='#')= item
      ul.items.items-minor
        each mitem in nav_mitems
          li
            a(href='#')= mitem

.mod#typography
  .hd
    h3 Typography
  .bd
    .main
      .col.col5
        p
          code= '<p>'
          em emphasis
          code= '<em>emphasis</em>'
          code= '</p>'
        p
          code= '<p>'
          i italic
          code= '<i>italic</i>'
          code= '</p>'
      .col.col5
      .col.col4
        blockquote
          h1 h1 / 一级标题
          h2 h2 / 二级标题
          h3 h3 / 三级标题

.mod#lists
  .main
    article.col.col9
      section
        .hd
          h3 Two Column List
            code .list-col2
        .bd
          ul.list-col2
            each i in [1,2,3,4]
              li
    aside.col.col4
      section
        .hd
          h3 Lined List
            code .list-lined
        .bd
          ul.list-lined
            each item in list_items
              li= item
            each item in list_items
              li
                a= item

.mod#layout
  .hd
    h3 Layout
  .bd
    #store
      .main
        article.col.col9
          code article.col.col9
        aside.col.col4
          code aside.col.col4
      .main.category
        nav.col.col3
          code nav.col.col3
        article.col.col10
          code article.col.col10

.mod#buttons
  .hd
    h3 Buttons
  .bd
    table.table.table-bordered.table-zebra
      thead
        tr
          each th in btn_th
            th= th 
      tbody
        each btn in btns
          tr
            td
              button(class=btn.sel)= btn.text
            td
              input(class=btn.sel, type='button', value= btn.text)
            td
              a(class=btn.sel, href='#')= btn.text
            td
              code= btn.sel
            td= btn.desc

.mod#tables
  .hd
    h3 Tables
  .bd
    .main
      article.col.col9
        table.table.table-striped
          thead
            tr
              each th in table_th
                th= th
          tbody
            each td in table_td
              tr
                td= td.name
                td
                  code= td.sel
                td= td.desc
      aside.col.col4
